.form-container {
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-content: end;
  align-items: start;
  gap: 10px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
}
.inputBoxs {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.input {
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #f6ffff;
}
.btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
